body{
    padding: 0;
    margin: 0;
    background-color: white;
}
.bar{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 250px;
}
.contenaire{
    width: 100%;
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 3fr;    
}
.titredeuxieme, .titresixieme{
    border: 2px solid rgb(135, 201, 12);
    width: 210px;
    text-align: center;
}
.titrepremier, .titretroisième, .titrequatrieme, .titrecinquieme, .titreseptieme{
    border: 2px solid black;
    width: 210px;
    text-align: center;
    
}
img{
    border-radius: 80%;
    position: absolute;
    top: 85px;
    left: 215px;
    width: 100px;
    height: 100px;
}
.maryjane{
    position: absolute;
    top: 110px;
    left: 30px;
    font-size: large;
    width: 1000px;    
}
.maryjanedoe{              /*taille*/
    font-size: 2em;
    position: absolute;
    top: 45px;
    left: 5px;
}
.check{
    font-size: 1em;
    position: absolute;
    left: 69px;
    top: 100px;
}
.carrevert{
    border: 1px solid green;
    position: absolute;
    top: 270px;
    left: 120px;
    font-size: large;
    padding: 2px 15px 2px 15px;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    text-align: left;
    padding-left: 100px;
    border-left: 2px solid rgb(129, 114, 114); 
    font-size: large;
}
.titre{
    border: 2px solid black;
    width: 210px;
}
#colorgris{
    color: grey;
}
.contenaire1{
    margin-top: 30px;
}
.fleche1{
    width: 60px;
    height: 60px;
    position:absolute;
    top: 500px;
    left: 20px;
}
.fleche{
    width: 60px;
    height: 60px;
    position:absolute;
    top: 500px;
    left: 255px;
}
.pourcentage1{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20px;
}
.english{
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 245px;
    right: 45px;
    z-index: 2;

}
.pourcentage2{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 70px;
    margin-top: 50px;
}
.spanish{
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 85px;
    right: 65px;
}
.titreseptieme{
    position: absolute;
    bottom: 20px;
}
.titresixieme{
    position: absolute;
    top: 17px;
    z-index: 2;

}